<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homefit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AlarmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.NutriActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.BuilderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MuscleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.WorkingOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Adapters.AlertReceiver"/>
    </application>

</manifest>